<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.activityRPG.dao.IMBatisDao">

<!-- login >> ID Check -->
	<select id="IdCheck" parameterType="com.activityRPG.beans.MemberBean" resultType="Integer">
		SELECT COUNT(*) FROM MB WHERE MB_ID=#{id}
	</select>
<!-- login >> PWD Check -->
	<select id="PwdCheck" parameterType="com.activityRPG.beans.MemberBean" resultType="com.activityRPG.beans.MemberBean">
		SELECT MB_PW AS pwd FROM MB WHERE MB_ID=#{id}
	</select>

<!-- 로그인 상태 저장 -->
	<insert id="AccessHistory" parameterType="com.activityRPG.beans.MemberBean">
		INSERT INTO AH(AH_MBID, AH_DATE, AH_TYPE) VALUES(#{id}, DEFAULT, #{type})
	</insert>

<!-- 회원가입 -->
	<insert id="joinSuccess" parameterType="com.activityRPG.beans.MemberBean">
		INSERT INTO MB(MB_ID, MB_PW, MB_NAME, MB_BIRTH, MB_AGE, MB_GENDER, MB_PHONE, MB_MAIL, MB_TYPE)
		VALUES(#{id}, #{pwd}, #{name}, #{birth}, #{age}, #{gender}, #{phone}, #{email}, DEFAULT)
	</insert>
	
	<!-- 아이디찾기  >> 핸드폰번호 확인 -->
	<select id="idFind" parameterType="com.activityRPG.beans.MemberBean" resultType="Integer">
		SELECT COUNT(*) FROM MB WHERE MB_PHONE=#{phone}
	</select>
	<select id="idSend" parameterType="com.activityRPG.beans.MemberBean" resultType="com.activityRPG.beans.MemberBean">
		SELECT MB_ID AS id FROM MB WHERE MB_PHONE=#{phone}
	</select>
	
<!-- 비밀번호찾기  >> 이메일 확인 -->
	<select id="mailcheck" parameterType="com.activityRPG.beans.MemberBean" resultType="Integer">
		SELECT COUNT(*) FROM MB WHERE MB_MAIL=#{email}
	</select>
<!-- 비밀번호찾기  >> 이메일 발송 -->	
	<select id="mailSend" parameterType="com.activityRPG.beans.MemberBean" resultType="com.activityRPG.beans.MemberBean">
		SELECT MB_MAIL AS email FROM MB WHERE MB_MAIL=#{email}
	</select>
<!-- 비밀번호찾기  >> 임시비밀번호  -->	
	<insert id="pwdUpdate" parameterType="com.activityRPG.beans.MemberBean">
		UPDATE MB SET MB_PW=#{pwd} WHERE MB_MAIL=#{email}
	</insert>

<!-- 
<resultMap type="member" id="joinMap">
		<result property="id" column="MB_ID" javaType="java.lang.String"/>
		<result property="pwd" column="MB_PW"  javaType="java.lang.String"/>
		<result property="name" column="MB_NAME" javaType="java.lang.String"/>
		<result property="birth" column="MB_BIRTH" javaType="java.lang.String"/>
		<result property="age" column="MB_AGE" javaType="java.lang.String"/>
		<result property="gender" column="MB_GENDER" javaType="java.lang.String"/>
		<result property="phone" column="MB_PHONE" javaType="java.lang.String"/>
		<result property="email" column="MB_MAIL" javaType="java.lang.String"/>
	</resultMap> -->
	
<!-- 라즈베리파이 등록전 코드 유무 확인 -->
	<select id='getRaspCheck' parameterType='actBean' resultType='Integer'>
		SELECT COUNT(*) FROM RASPBERRY_INFO WHERE RI_ID=#{riId}
	</select>
	
<!-- 라즈베리파이 등록 -->
	<insert id="setRaspMem" parameterType="actBean">
		INSERT INTO MEMBER_RASP VALUES(#{riId},#{id},DEFAULT)
	</insert>
<!-- 캐릭터 능력치 가져오기 -->
	<select id="getCharacterStatus" parameterType="gameBean" resultType="gameBean">
		SELECT CH_NAME as chName, CH_LEVEL as chLevel, CH_EXP as chExp, CH_HP
		as chHp, CH_MP as chMp,
		CH_STR as chStr, CH_DEX as chDex, CH_INT as chInt, CH_ATTACK as
		chAttack,CH_DEFENSE as chDefense,
		CH_GOLD as chGold
		FROM USER_CHARACTER WHERE CH_MBID=#{id}
	</select>
	
<!-- 장비한 리스트 가져오기 -->
	<select id="getEquipList" parameterType="map" resultType="gameBean">
		SELECT ITNAME, ENLEVEL FROM EQUIPLIST WHERE CHNAME = #{content}
	</select>

<!-- 소지한 장비 리스트 가져오기 -->
	<select id="getIvenList" parameterType="map" resultType="gameBean">
		<![CDATA[
		SELECT ITNAME, ABILITY, AMOUNT, ENLEVEL
		FROM IVENLIST 
		WHERE CHNAME=#{content} AND IVITCODE >=#{min} AND IVITCODE <= #{max}]]>
	</select>

</mapper>
<!-- 	sadf 


<table><tr><th>무기 이름</th><th>추가 능력치</th><th>보유 갯수</th></tr><tr><td>
대검
</td><td>
+5
</td><td>
1
</td></tr></table>





-->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

