body {
  background: linear-gradient(to right, #2c3338, #475660);
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

#layer_fixed
{
    height:50px;
    width:100%;
    position:fixed;
    background-color:#f68a6f;
}

#bar {
	background-color: #f68a6f;
	padding: 5px 30px;
	padding-top: 10px;
	border-radius: 5px;
	border: 1px solid #f68a6f;
	width: 170px;
	color:#fff;
	font-size: 15px;
}

#user {
	color: white;
}

#submit {
	font-size: 1em;
	padding: 15px 10px 10px;
	border: 1px solid #cecece;
	background: #3b4148;
	color: #fafafa;
	border-radius: 5px;
	box-sizing: border-box;
	width: 50%;
	margin-left: 42.5%;
}