@charset "UTF-8";

h1 {
	color: #C9AE00;
	text-align: center;
}

#message {
	color: red;
	font-size: 20px;
	position: absolute;
	top: 240px;
	left: 90px;
}

a {
	display: inline-block;
	padding: 5px 10px;
	font-size: 18px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
}

a:hover {
	color: #f47757;
}