body {
  background: linear-gradient(to right, #2c3338, #475660);
  color: #fafafa;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;s
}

td {
	vertical-align: middle; 
	padding-left: 20px; 
	padding-right: 20px;
}

h3 {
	padding-left: 15px; 
}

#user {
	background-color: #2c3338;
	border: 1px solid #2c3338;
	color:#fff;
}

#infocheck {
	margin-top: 15px;
	margin-right: 10px;
	background-color: #f47757;
	padding: 3px 25px;
	border-radius: 5px;
	border: 1px solid #f47757;
	width: 170px;
	color:#fff;
	font-size: 14px;
	height: 45px;
    width: 152px;
}

#infocheck:hover {
	background-color: #f68a6f;
	border: 1px solid #f68a6f;
}

#ras {
	margin-right: 15px;
	background-color: #f47757;
	padding: 3px 25px;
	border-radius: 5px;
	border: 1px solid #f47757;
	width: 170px;
	color:#fff;
	font-size: 14px;
	height: 45px;
    width: 207px;
}

#ras:hover {
	background-color: #f68a6f;
	border: 1px solid #f68a6f;
}