body {
  background: linear-gradient(to right, #2c3338, #475660);
  color: #fafafa;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

button {
	margin-bottom: 15px;
	margin-left: 15px;
	background-color: #f47757;
	padding: 3px 25px;
	border-radius: 5px;
	border: 1px solid #f47757;
	width: 170px;
	color:#fff;
	font-size: 14px;
	width: 187px;
}

button:hover {
	background-color: #f68a6f;
	border: 1px solid #f68a6f;
}
#password {
	margin-top: 40%;
	margin-bottom: 20px;
	margin-left: 15px;
	background-color: #3b4148;
	border: 2px solid #93969a;
	padding: 5px 10px;
	color: #ffffff;
	width: 200px;
    height: 20px;
}

#spassword {
	margin-bottom: 20px;
	margin-left: 15px;
	background-color: #3b4148;
	border: 2px solid #93969a;
	padding: 5px 10px;
	color: #ffffff;
	width: 200px;
    height: 20px;
}

#pwdChange{
	margin-left: 40%;
}