body {
  background: linear-gradient(to right, #2c3338, #475660);
  color: #fafafa;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

/* 가운데 */
.contents{
	max-width: 50em;
    padding: 10em 3em 2em 3em;
    margin: 0px auto 15px auto;
    background: transparent;
    border-radius: 4.2px;
    box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

#btn {
	margin-top: 1em;
	margin-bottom: 10px;
	margin-left: -20px;
	background-color: #f47757;
	padding: 3px 25px;
	border-radius: 5px;
	border: 1px solid #f47757;
	width: 190px;
    height: 35px;
	color:#fff;
	font-size: 14px;
}

#btns {
	margin-top: 1em;
	margin-bottom: 10px;
	margin-left: 37%;
	background-color: #f47757;
	padding: 3px 25px;
	border-radius: 5px;
	border: 1px solid #f47757;
	width: 190px;
	height: 35px;
	color:#fff;
	font-size: 14px;
}

#btn:hover {
	background-color: #f68a6f;
	border: 1px solid #f68a6f;
}
#password {
	margin-top: 30%;
	margin-bottom: 5px;
	margin-left: -35px;
	background-color: #3b4148;
	border: 2px solid #93969a;
	padding: 5px 10px;
	color: #ffffff;
	width: 200px;
    height: 20px;
}

.spassword {
	margin-top: 15px;
	margin-bottom: 5px;
	margin-left: -35px;;
	background-color: #3b4148;
	border: 2px solid #93969a;
	padding: 5px 10px;
	color: #ffffff;
	width: 200px;
    height: 20px;
}

#pwdChange {
	margin-left: 40%;
}

#error {
	margin-left: 1em;
	color: #EDB022;
}